# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
tipos-variaveis/.vscode/settings.json
sistema-smart-tv/.vscode/settings.json
Java-Terminal/.vscode/settings.json
ContaBanco/.vscode/settings.json
controle-fluxo/.vscode/settings.json
Controle-de-Fluxo/Estruturas-Condicionais/.vscode/settings.json
controle-fluxo/Indice.md
controle-fluxo/Indice.md
.gitignore
Controle-de-Fluxo/Estrutura-de-Repeticao/.vscode/settings.json
Controle-de-Fluxo/Tratamento-de-Excecao/.vscode/settings.json
Debugging-Java/.vscode/settings.json
Controle-Candidatos/.vscode/settings.json
DesafioControleFluxo/.vscode/settings.json
desafio-de-codigo-aula-13/.vscode/settings.json
POO-Java/exemplo-pacotes/.vscode/settings.json
POO-Java/exemplo-marcadores/.vscode/settings.json
POO-Java/exemplo-geter-seter/.vscode/settings.json
POO-Java/exemplo-construtores/.vscode/settings.json
POO-Java/exemplo-enum/.vscode/settings.json
POO-Java/pilares-POO/.vscode/settings.json
Desafios/Controle-Candidatos/.vscode/settings.json
Desafios/desafio-de-codigo-aula-13/.vscode/settings.json
Desafios/DesafioControleFluxo/.vscode/settings.json
